h1 a, h1 a:hover {
    color: black;
    text-decoration: none;
}

table.game-grid {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}

table.game-grid th {
    text-align: center;
}

td.piece-square {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    background: lightgray;
}

td.piece-square.dark {
    background: saddlebrown;
}

td.piece-square.light {
    background: lightyellow;
}

@media (min-width: 1064px) {
    td.piece-square {
        border: 2px solid black;
        width: 80px;
        height: 80px;
    }
}

.info {
    text-align: center;
    font-size: 1.4em;
}

td.selected {
    background: red !important;
}

td.destination {
    background: blue !important;
}

td.black.man div {
    background-image: url("/images/black.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

td.white.man div {
    background-image: url("/images/white.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

td.black.king div {
    background-image: url("/images/kingblack.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

td.white.king div {
    background-image: url("/images/kingwhite.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

#colour {
    font-size: 1.4em;
}

.hidden {
    display: none;
}

#pagefooter {
    position: absolute;
    bottom: 1em;
    width: 50%;
}

.source_message {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    height: 1em;
    font-size: 0.8em;
}

.source_message img {
    height: 100%;
}

.error {
    background-color: indianred;
    color: white;
    text-align: center;
}

.error a, .error a:visited, .error a:active {
    color: white;
    text-decoration: underline;
}

.error a:hover {
    color: white;
    text-decoration: solid
}
