h1 a, h1 a:hover {
    color: black;
    text-decoration: none;
}

table.game-grid {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}

table.game-grid th {
    text-align: center;
}

td.piece-square {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    background: lightgray;
}

@media (min-width: 1064px) {
    td.piece-square {
        border: 2px solid black;
        width: 80px;
        height: 80px;
    }
}

.info {
    text-align: center;
    font-size: 1.4em;
}

td.selected {
    background: red;
}

td.black div {
    background: black;
    border-radius: 40px;
    width: 100%;
    height: 100%;
}

td.white div {
    background: burlywood;
    border-radius: 40px;
    width: 100%;
    height: 100%;
}

#colour {
    font-size: 1.4em;
}

.hidden {
    display: none;
}

#pagefooter {
    position: absolute;
    bottom: 1em;
    width: 50%;
}

.source_message {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    height: 1em;
    font-size: 0.8em;
}

.source_message img {
    height: 100%;
}
