<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="net462" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="RichTea.CommandLineParser" version="0.3.0-beta" targetFramework="net462" />
  <package id="RichTea.Common" version="1.1.0" targetFramework="net462" />
  <package id="RichTea.NeuralNetLib" version="0.5.7-beta" targetFramework="net462" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net462" />
</packages>